{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myancko</title>
    <link rel="stylesheet" href="{% static "css/j.css" %}">
</head>
<body>
    <nav  class="nav">   
        <div class="menu_canto">
            <a href="{% url 'home' %}"><li class="icone"><img id="borda" src="{% static 'imagens/mew icone.jpg' %}" alt= "{% static 'imagens/mew icone2.jpeg'%}" ></li></a>
            <h1>Myancko</h1>

            <ul>  
                <div>
                    <ul>
                        <li class="icone"><img id="elo" width="150px" src="{% static 'imagens/icone_gold.png' %}" alt=""></li>
                        <li class="elo">Gold 4 Afundado</li> 
                    </ul>
                </div>
                <section>
                    <ul class="img_seq" >
                        <li><img class="imgs" width="50px" height="35px" src="{% static '/imagens/croop_xayahST.png'%}" alt=""></li>
                        <li><img class="imgs" width="50px" height="35px" src="{% static '/imagens/croop_Pvayne.jpg'%}" alt=""></li>
                        <li><img class="imgs" width="50px" height="35px" src="{% static '/imagens/croop_Samira (1).jpg'%}" alt=""></li>
                    </ul>
                </section>
                
                <div class="funcao">
                    <ul>
                        <li class="li_texto">Primaria: Atirador</li>
                        <li class="li_texto">Secundaria: Assassino</li>
                        <li class="li_main">Mains: Vayne, Xayah</li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>

    <main>
        <h1  class="titulo">Feitos recentes</h1>

        <section class="main_txt">
            <p>
                Essa season eu não tive muito tempo para jogar, porem eu cabei sabendo do event
                das novas Starguardians que estava acontecendo, e eu me lembrei 
                do evento passado em que eu me diverti muito com PvE, e aconteceu que o 
                evento foi a segunda coisa mais broxante que me ocorreu esse ano, Triste ;^;.
            </p>
            <p>
                Apesar do ocorrido, o jogo ainda é viciente e eu voltei a joga-lo, vi que alguns
                dos champs q eu jogava tomaram nerfs, pra variar e que pra surpresa de zero pessoas
                o jogo ta cheio de mequanicas de comeback o que simplismente estraga o game, e tem
                uns dragoes diferentes agora, alias pra que drag anciao sa poha acaba com o jogo só,
                pra que isso riot mds.
               
            </p>
            <p>
                jogando o jogo eu lembrei por que eu parei de jogar esse jogo, escolhi menia um champ que leva
                20m para ficar forte, e até lá meu time ja fidou tudo e o jogo ja esta praticamente perdido,
                mais eu não criei esse site só para reclamar disso, por pura coincidencia eu achei um novo 
                champ com qual eu consigo fazer algo me divertir jogando, Samira.
            </p>
            <p>
                Minhas primeiras partidas foram um dessastre, 
                se voce me perguntasse a minha opinião sobre ela antes, 
                eu diria que ela é um dos piores adcs do jogo, o range mediocre voce nao pode 
                castar o dash dela no como um Ez castaria o E ou a tristana castaria o W, a ult
                dela foi muito nerfada, e algo que eu normalmente nao gosto é adc que nao usar AA como
                fonte primaria de dano, isso porque eu sempre joguei de vayne, ashe, twich e acabei me 
                acomodando.
            </p>
            <p>
                vou deixar alguns videos para que possa testemunhar o potencial dela.
            </p>

        </section> 

        <section class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6rj_YUJ_Zak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eHEdPKG-R-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <section class="vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K6QzfR__7X0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wxzxoKXfu2E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    <footer class ="foot">
        <p>
            Essa pagina foi criada por Jonathan Nicolas Maciel Costa, Aluno do curso de ADS para o trabalho de redes,
            com o intuito de se ter uma pagina pra botar no ar '^'
        </p>
    </footer>
</body>
</html>