{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>

<body class="UwU">
    <header><h1>Atividade de Redes - Criar um site e coloca-lo na nuvem</h1></header>
    <div class="nav">
        <a id ="Moises" href="{% url 'moises' %}">Moises</a>
        <a id ="Jonathan" href="{% url 'jonathan' %}">Jonathan</a>
        <a id ="Carlos" href="{% url 'carlos' %}">Carlos</a>
    </div>
</body>

</html>